:root {
  --font-family: "dana";
  --light-gray: #f8fafc;
  --white: #ffffff;
  --gray: #bbbdd1;
  --dark-gray: #666;
  --red: #f93c65;
  --black: #000000;
  --blue: #3498db;

  --bg-color-1: #ebf2f1;
  --bg-color-2: #eaeaea;

  --border-color-1: #828282;
}
